<a href="https://colab.research.google.com/github/MOHAMMEDHASSAN1981/AI-MEP-Engineer/blob/main/Electric_cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#@title
# Import libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns

In [30]:
# Upload dataset
df = pd.read_csv('/content/Electric_Vehicle_Population_Data.csv')
df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238.0,0.0,14.0,141151601.0,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47.0,0.0,23.0,171566447.0,POINT (-122.64681 47.73689),PUGET SOUND ENERGY INC,5.303509e+10
2,5YJ3E1EB0K,King,Seattle,WA,98199.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,36.0,9426525.0,POINT (-122.40092 47.65908),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,1N4AZ0CP5D,King,Seattle,WA,98119.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75.0,0.0,36.0,211807760.0,POINT (-122.3684 47.64586),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1E21H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210.0,0.0,22.0,185810306.0,POINT (-122.75379 47.06316),PUGET SOUND ENERGY INC,5.306701e+10

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13251 entries, 0 to 13250
Data columns (total 17 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   VIN (1-10)                                         13251 non-null  object
 1   County                                             13249 non-null  object
 2   City                                               13249 non-null  object
 3   State                                              13251 non-null  object
 4   Postal Code                                        13249 non-null  float64
 5   Model Year                                         13251 non-null  int64
 6   Make                                               13251 non-null  object
 7   Model                                              13233 non-null  object
 8   Electric Vehicle Type                              13251 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  13251 non-null  object
 10  Electric Range                                     13250 non-null  float64
 11  Base MSRP                                          13250 non-null  float64
 12  Legislative District                               13248 non-null  float64
 13  DOL Vehicle ID                                     13250 non-null  float64
 14  Vehicle Location                                   13246 non-null  object
 15  Electric Utility                                   13248 non-null  object
 16  2020 Census Tract                                  13248 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 1.7+ MB

In [32]:
df.describe()

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,13249.000000,13251.000000,13250.00000,13250.000000,13248.000000,1.325000e+04,1.324800e+04
mean,98177.970262,2019.683948,78.27034,1419.880377,32.943916,2.065378e+08,5.303326e+10
std,218.921625,2.959531,99.83288,9223.399131,14.681833,8.800824e+07,1.166491e+07
min,98001.000000,2008.000000,0.00000,0.000000,1.000000,1.100570e+05,5.300796e+10
25%,98033.000000,2018.000000,0.00000,0.000000,20.000000,1.576350e+08,5.303301e+10
50%,98107.000000,2021.000000,23.00000,0.000000,39.000000,2.056989e+08,5.303302e+10
75%,98188.000000,2022.000000,151.00000,0.000000,45.000000,2.300625e+08,5.303303e+10
max,99362.000000,2023.000000,337.00000,110950.000000,49.000000,4.789259e+08,5.307794e+10

In [35]:
df.shape

(13251, 17)

In [36]:
df.size

225267

In [45]:
df.isnull().sum()

VIN (1-10)                                            0
County                                                2
City                                                  2
State                                                 0
Postal Code                                           2
Model Year                                            0
Make                                                  0
Model                                                18
Electric Vehicle Type                                 0
Clean Alternative Fuel Vehicle (CAFV) Eligibility     0
Electric Range                                        1
Base MSRP                                             1
Legislative District                                  3
DOL Vehicle ID                                        1
Vehicle Location                                      5
Electric Utility                                      3
2020 Census Tract                                     3
dtype: int64

In [51]:
print(df['Model'].isnull().sum())

18